doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(href='data:,' rel='icon')

    if _theme.styles
      each style in _theme.styles
        link(href=style rel='stylesheet' type='text/css')

    if _theme.scripts
      each script in _theme.scripts
        script(src=script, defer)

  body(id=id,class=toc && 'toc')
    if toc
      include includes/toc.pug

    div#main !{html}
