doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= meta.title

    include includes/custom.pug

    if options.styles
      each style in options.styles
        link(href=style rel='stylesheet' type='text/css')

    if options.scripts
      each script in options.scripts
        script(src=script, defer)

  body(id=meta.id,class=meta.toc && 'toc')
    if meta.toc
      include includes/toc.pug

    div#main !{html}
